.about{
    margin:2rem 0;
}
.btn2{
    background-color: rgb(226, 226, 226);
    font-size: 1.2rem;
    color: $text;
    padding: 1rem 2.8rem;
    outline: 0;
    border: 0;
    border: 1px solid rgb(190, 185, 185);
    margin: 0;
    cursor: pointer;
    &:focus{
        background-color: white;
        padding-top: 1.5rem;
        border-bottom:1px solid white ;
        color: $primary;
    }
}
.aboutbox{
    border: 1px solid rgba($color: $text, $alpha: 0.2);
    padding: 4rem;
    margin-top: -1px;
}

.aboutleft{
    // margin-right: 2rem;
    width: 50%;
    h3{
        font-size: 2rem;
        margin-bottom: 2rem;
        color: rgba($color: $text, $alpha: .8);
        font-weight: 200;
    }
    p{
        margin-bottom: 2rem;
        color: rgba($color: $text, $alpha: .6);
    }
}
.aboutright{
    width: 45%;
    img{
        width: 100%;
        border-radius: 5px;
    }
}
// .aboutbtn{
//     // position: relative;
//     // z-index: 5;
// }


.consequat{
    display:none ;
}
.feugiat{
    display: none;
}





// testimonial
.testimonial{
    margin: 5rem 0;
}
.testimonialleft{
    height: 32.5rem;
    width: 50%;
    background:linear-gradient(rgba(black,0.4)),url(../media/pic03.jpg) 0 0 no-repeat;
}
.testimonialright{
    height: 32.5rem;
    width: 50%;
    background:linear-gradient(rgba(black,0.4)),url(../media/pic04.jpg) 0 0 no-repeat;
}
.testimonialtext{
    p{
        font-size: 2rem;
        color: white;
        font-weight: 300;
        padding-left: 2rem;
        margin: 2rem 0 4rem 0;
    }
    h4{
        // margin-top: 4rem;
        color: $primary;
        margin-bottom:1rem ;
        font-size: 1.2rem;
    }
    h5{
        color: white;
    }
}


// progress
.progress{
    margin-bottom: 5rem;
}

.progresscontent{
    width: 50%;
    h2{
        font-size: 2rem;
        font-weight: 100;
        color: $text;
        margin-bottom: 2rem;
    }
    // .img{
    //     padding: 2rem 0;
    //     border-radius: 5px;
    // }
    p{
        color: rgba($color: $text, $alpha: 0.6);
        margin: 2rem 0;
    }

}

.progressbar{
    width: 50%;
    padding-left: 4rem;
    p{
        font-size: .9rem;
        color: $primary;
    }
}
.progressreport{
    margin: 2rem 0;
}

progress[value]{
    -webkit-appearance:none;
    appearance: none;
    width: 100%;
    height: 1px;
}
progress[value]::-webkit-progress-bar{
    background: #eee;
}
progress[value]::-webkit-progress-value{
    background:$primary;
}

@media screen and (max-width:768px){

    .aboutleft{
        width: 100%;
        order: 1;
        h3{
            font-size: 1.5rem;
            padding-top: 2rem;
        }
    }
    .aboutright{
        width: 100%;
        
    }
    .aboutbox{
        padding:1rem;
    }

    .testimonialleft{
        width: 100%;
    }
    .testimonialright{
        width: 100%;
    }

    .progresscontent{
        width: 100%;
    }
    .progressbar{
        width: 100%;
        padding: 0;
    }
    .progress{
        margin-bottom: 1rem;    
    }
    .btn2{
        width: 33.33%;
        padding: 1rem .5rem;
        font-size: .9rem;
    }
    .testimonialtext{
        p{
            font-size: 1.5rem;
            padding-left: 0;
            margin:2rem;
        }
    }

}
