.feature{
    margin: 4rem 0;
}
.col1-1{
    width: 30%;
    img{
        border-radius: 5px;
    }
}
.col1-3{
    width: 70%;
    padding-left: 4rem;
}


.feature-items{
    margin-top: 5rem;
}


.feature-box{
    
    align-items: flex-start;
    width: 50%;
    padding: 1rem 2rem 2rem 1rem;
    &:first-child{
        border-right: 1px solid rgba($text,0.4);
        border-bottom: 1px solid rgba($text,0.4);
    }
    &:nth-child(2){
        border-bottom: 1px solid rgba($text,0.4);
    }
    &:nth-child(3){
        border-right: 1px solid rgba($text,0.4);
    }
    
}
.icon{
    width: 10%;
    font-size: 1.5rem;
    text-align: start;
}
.writeup{
    margin-left: 1rem;
    font-weight: 300;
    width: 80%;
    h3{
        color: $primary;
        padding-bottom: .75rem;
    }
    p{
        color: rgba($text,0.7);
    }

}

.counter{
    background: $primary;
}

.counterpad{
    width: 25%;
    text-align: center;
    color: white;
    margin: 4rem 0;
    border-right: 1px solid white;
    padding: 1rem 0;
    h3{
        font-size: 2rem;
    }
    h4{
        margin-bottom: 2rem;
    }
    p{
        padding: 0 1rem;
        color: rgba($color: #fff, $alpha: .5);
    }
    &:last-child{
        border: none;
    }
}


@media screen and (max-width:768px){
    .col1-1{
        width: 100%;
        order: 1;
    }
    .col1-3{
        width: 100%;
        padding: 0;
    }
    .feature-box{
        width: 100%;
        &:first-child{
            border-right: none
        }
        &:nth-child(3){
            border-right: none;
        }
        &:last-child{
            border-top:1px solid rgba($text,0.4); ;
        }
    }
    .feature-items{
        width: 100%;
        margin-top: 1rem;
    }
    .counterpad{
        width: 100%;
        border-right: none;
        border-bottom: 1px solid white;
        margin:1rem;
    }
}