


*,
*::before,
*::after{
    box-sizing: border-box;
}





.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
}



// flex


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.flex2{
    @extend .flex;
    flex-wrap: nowrap;   
    justify-content: left;
}
.flex3{
    display: flex;
    align-items: flex-start;
}
.flex4{
    @extend .flex;
    align-items: flex-start;
}
.center{
    @extend .flex;
    justify-content: center;
}

//  a 
a{
    text-decoration: none;
}
// i
i{
    color: $primary;
}

// font 
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
body{
    line-height: 1.5;
}

.heading{
    font-size: 2rem;
    color: $text;
    font-weight: 300;
}

// button

.btn{
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    background: none;
    border: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        background:rgba($color: #fff, $alpha: 0.1);
    }
}

.btn3{
    @extend .btn;
    color: $text;
    border: 1px solid $text;
    font-size: .8rem;
    padding: 1rem 2rem;
    &:hover{
        background:rgba($color:grey, $alpha: 0.1);
    }
    
}
.img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

// center-box
.center-box{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: white;
    margin: 0 auto;
}
.center-box2{
    @extend .center-box;
    height: 4.5rem;
    width: 4.5rem;
    background: $primary;
    i{
        color: white;
        font-size: 2rem;
    }
    
}


.text {
    text-align: center;
}

@media screen and (max-width:768px){
   .flex{
       flex-wrap: wrap;
   }
   .container{
       max-width: 100%;
   }
   .btn3 ,.btn{
       width: 100%;
   }
    .heading{
        font-size: 1.5rem;
    }
}

.act {
    background-color: white!important;
    padding-top: 1.5rem!important;
    border-bottom: 1px solid white!important;
    color: $primary !important;
}